{% extends "master.html" %}
{% load extra_filters %}

{% block content %}
<p>(All times in Copenhagen time.)</p>

<section id="planet-feed">
{% for article in articles %}
<article>
  <h2><a href='{{ article.url }}'>{{ article.title }}</a></h2>
  <div class="smalldate">{{ article.feed.title }} &ndash; <time pubdate>{{ article.updated }}</time></div>
  <div class='planetarticle'>
    {{ article.html_short|safe }}
  </div>
</article>
{% endfor %}
</section>
{% if not articles %}
<p>No articles.</p>
{% endif %}
{% endblock content %}
