{% extends "master.html" %}
{% load extra_filters %}

{% block content %}
<p>All times are converted to Denmark time: UTC + 02:00 when DST, and UTC +
  01:00 when not DST.</p>

<p><a href='overview'>Overview</a></p>

{% for article in articles %}
<div class='planetarticle'>
  <h1><a href='{{ article.url }}'>{{ article.title }}</a></h1>
  <h2>{{ article.updated.isoformat }}</h2>
  <div class='planetarticle'>
    {{ article.html|safe }}
  </div>
</div>
{% endfor %}
{% if not articles %}
<p>No articles.</p>
{% endif %}
{% endblock content %}
