{% extends "master.html" %}

<!-- Use a wide bounding block for the front page -->
{% block wide %}wide{% endblock wide %}

{% block content %}

<div id="calendar">
{{calendar}}
</div>

<!-- <h1>DIKU Calendar</h1> -->
<!-- <div style="width:900px; margin: auto"> -->
<!-- <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cafekalender%40gmail.com&amp;color=%232952A3&amp;src=soq38q8mba44b9trojvp2p2g4h7f0cur%40import.calendar.google.com&amp;color=%235229A3&amp;src=0g0ng9c7qastr5gnls1kikhips%40group.calendar.google.com&amp;color=%23B1440E&amp;src=40jdaq5kihhik31bt1v2jd6fb88s7m4u%40import.calendar.google.com&amp;color=%231B887A&amp;src=033hbh31ar1kdhurvbibtg9puc%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=85ih3m531ghkj1c2kmk448tp0h1jlnr3@import.calendar.google.com&amp;color=%232952A3&amp;src=rc50vgr5pbd5jrlppo0o36hv8c%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FCopenhagen" style=" border-width:0 " width="900" height="600" frameborder="0" scrolling="no"></iframe> -->
<!-- </div> -->

{% endblock content %}
