{% extends "master.html" %}

{% load staticfiles %}
{% load markup %}

{% block content %}

<h1 class='dikutal-title'>Articles</h1>

{% if user.is_authenticated %}
<div class="actions">
<p>You can <a href="create">write an article.</a></p>
</div>
{% endif %}


{% include 'snippets/filter.html' %}

{% if latest %}
   <section id="frontpage-feed">
    {% for article in latest %}
   <article>
       <div class="image">
         <img src="{{ article.front_image_url }}"
              alt="{{ article.front_image_desc }}"
              title="{{ article.front_image_desc }}">
       </div>
   
       <h2>
           <a href='{{ article.url }}'>{{ article.title }}</a>
       </h2>
       <div class="feed-teaser">
           {% if article.content_format == 'HT' %}
           {{ article.teaser|safe }}
           {% elif article.content_format == 'MD' %}
           {{ article.teaser|markdown }}
           {% elif article.content_format == 'TX' %}
           {{ article.teaser }}
           {% endif %}
       </div>
       <footer>
           <span class="smalldate">{{ article.author.get_full_name }} &ndash; <time pubdate>{{ article.published }}</time></span>
       </footer>
       <div class="clearfix"></div>
   </article>
   {% endfor %}
   </section>

    <nav class="pagination">
        <span class="step-links">
            {% if latest.has_previous %}
                <a href="?page={{ latest.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ latest.number }} of {{ latest.paginator.num_pages }}
            </span>

            {% if latest.has_next %}
                <a href="?page={{ latest.next_page_number }}">next</a>
            {% endif %}
        </span>
    </nav>
{% else %}
    <p>No articles.</p>
{% endif %}

{% endblock content %}
