{% extends "master.html" %}

{% load markup %}

{% block content %}
{% if latest %}
   <div id="article-list">
    {% for article in latest %}
    <article id="a{{ article.id}}">
        <header>
            <h2><a href='{{ article.url }}'>{{ article.title }}</a></h2>
        </header>

        <time datetime="{{ article.published.isoformat }}" pubdate="pubdate">{{ article.published }}</time>

        {% if article.front_image != None %}
        <figure class="image"><img style="height:150px;" src="{{ article.front_image.file.url }}"></figure>
        {% endif %}

        <section class='teaser'>
{% if article.content_format == 'HT' %}
{{ article.teaser|safe }}
{% elif article.content_format == 'MD' %}
{{ article.teaser|markdown }}
{% elif article.content_format == 'TX' %}
{{ article.teaser }}
{% endif %}
        </section>
    </article>
    {% endfor %}
   </div>

    <nav class="pagination">
        <span class="step-links">
            {% if latest.has_previous %}
                <a href="?page={{ latest.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ latest.number }} of {{ latest.paginator.num_pages }}
            </span>

            {% if latest.has_next %}
                <a href="?page={{ latest.next_page_number }}">next</a>
            {% endif %}
        </span>
    </nav>
{% else %}
    <p>No articles. <a href="/news/create">Write one</a></p>
{% endif %}
{% endblock content %}
