{% extends "master.html" %}

{% load markup %}
{% load comments %}

{% block head_extra %}
<link rel="canonical" href="{{ article.url }}">
{% endblock head_extra %}

{% block content %}
<h2>{{ article.title }}</h2>
<div id="pubdate">{{ article.published }}</div>

<div id="teaser">{{ article.teaser|markdown }}</div>

<div id="content">{{ article.content|markdown }}</div>

<div id="comment_container">

{% get_comment_count for article as comment_count %}
<p>{{ comment_count }} comments have been posted.</p>

{% render_comment_list for article %}
{% render_comment_form for article %}

</div>
{% endblock content %}
