{% extends "master.html" %}

{% load markup %}
{% load comments %}
{% load gravatar %}

{% block head_extra %}
<link rel="canonical" href="{{ article.url }}">
{% endblock head_extra %}

{% block content %}

<article class="article">
    <div class="metadata">
      <span class="author">{{ article.author.get_full_name }}</span>, 
      <time datetime="{{ article.published.isoformat }}" pubdate="pubdate">{{ article.published|date:"d. F Y" }}</time>
          {% if can_edit %}
      <a href="{% url news.views.news_edit id=article.id %}"><span class="mpics">r</span></a>
    {% endif %}

    </div>

    <header>
        <h1>{{ article.title }}</h1>
    </header>

    <figure class="image"><img src="{{ article.image.url }}"></figure>
    <section class="teaser">{{ article.teaser|markdown }}</section>
    <section class="bodytext" id="content">{{ article.content|markdown }}</section>
</article>



<section id="comment-container">

{% get_comment_count for article as comment_count %}
<div id="comment-count">
    {% if comment_count == 0 %}
    No comments
    {% else %}
    {{ comment_count }} comment{{ comment_count|pluralize }}
    {% endif %}
</div>

{% get_comment_list for article as comment_list %}
{% for comment in comment_list %}

<div class="comment">
  {% gravatar comment.email %}
  <div class="content">
    <div class="author">{{ comment.user_name }} writes:</div>
    {{ comment.comment|markdown }}
    <div class="date">{{ comment.submit_date }}</div>
  </div>
  <div class="clearall"> </div>
</div>
  
{% endfor %}

{% if user.is_authenticated %}
    {% get_comment_form for article as form %}
    <form action="{% comment_form_target %}" method="POST" id="replyform">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ article.url }}">
    <button type="submit" class="savebutton">Add comment</button>
    </form>
{% else %}
    <p>Please <a href="{% url login %}">log in</a> to leave a comment.</p>
{% endif %}

</section>

</main>

{% endblock content %}


