{% extends "master.html" %}

{% load markup %}
{% load comments %}

{% block head_extra %}
<link rel="canonical" href="{{ article.url }}">
{% endblock head_extra %}

{% block content %}
<article>
    <header>
        <h2>{{ article.title }}</h2>
    </header>

    <p>
        By <span class="author">{{ article.author.get_full_name }}</span> on
        <time datetime="{{ article.published.isoformat }}" pubdate="pubdate">{{ article.published }}</time>
    </p>

    <figure class="image"><img src="{{ article.image.url }}"></figure>

    <section id="teaser">{{ article.teaser|markdown }}</section>

    <section id="content">{{ article.content|markdown }}</section>

</article>

<section id="comment_container">

{% get_comment_count for article as comment_count %}
<p>{{ comment_count }} comments have been posted.</p>

{% render_comment_list for article %}
{% render_comment_form for article %}

</section>
{% endblock content %}
