{% extends "master.html" %}

{% load staticfiles %}
{% load markup %}

<!-- Use a wide bounding block for the front page -->
{% block wide %}wide{% endblock wide %}

{% block content %}

<div style="float:left; width: 580px;">
    {% if feed_items %}
    <section id="frontpage-feed">
        <div>
            {% for item in feed_items %}
            <article>
                <div class="image">
                  {% if article.front_image %}
                  <img src="/media/{{ article.front_image }}"
                                           alt="{{ article.front_image.description }}" height='90' width='120'>
                  {% else %}
                  <img src="{% static "placeholder-thumb.png" %}"
                                           alt="This article lacks a front page image." height='90' width='120'>
                  {% endif %}


                </div>
            
                <h2>
                    <a href='{{ item.content.url }}'>{{ item.content.title }}</a>
                </h2>
                <div class="feed-teaser">
                    {% if item.content.content_format == 'HT' %}
                    {{ item.content.teaser|safe }}
                    {% elif item.content.content_format == 'MD' %}
                    {{ item.content.teaser|markdown }}
                    {% elif item.content.content_format == 'TX' %}
                    {{ item.content.teaser }}
                    {% endif %}

                </div>
                <footer>
                    <span class="smalldate">{{ item.content.author.get_full_name }} &ndash; <time pubdate>{{ item.content.published }}</time></span>
                </footer>
                <div class="clearfix"></div>
            </article>
            {% endfor %}
        </div>
        <div class="additional additional-bottom"> <a href="/news">More articles »</a></div>
    </section>
    {% endif %}
</div>

<div id="sidebar">

  <section id="aboutbox" class="box">
    <h3><span class="mpics">a</span> About Dikutal</h3>
    <p>
      Dikutal is the local news source for students at
      DIKU. <a href='/about'>Learn more about Dikutal.</a>
    </p>
  </section>
  
  <section id="qabox" class="box">
    <h3><span class="mpics">?</span> Latest Questions</h3>
    {% if qa_items %}
    <ol>
    {% for q in qa_items %}
    <li><a href="{{ q.links.0.href }}">{{ q.title }}</a><span class="smalldate"> {{ q.date }}</span></li>
    {% endfor %}
    </ol>
    {% else %}
    No questions.
    {% endif %}
    <div class="additional"> <a href="http://qa.dikutal.dk/">More questions »</a></div>
  </section>

  <section id="jobbox" class="box">
    <h3><span class="mpics">$</span> Latest Jobs</h3>
    {% if latest_jobs %}
    <ol>
    {% for job in latest_jobs %}
      <li><a href="/jobs/{{ job.id }}/">{{ job.title }}</a> <span class="smalldate">{{ job.published|date:"d. M Y" }}</span></li>
    {% endfor %}
    </ol>
    {% else %}
    No jobs.
    {% endif %}
    <div class="additional"> <a href="/jobs">More jobs »</a></div>
  </section>

  <section id="blogsbox" class="box">
    <h3><span class="mpics">w</span> Latest Blog Articles</h3>
    {% if latest_blog_articles %}
    <ol>
    {% for blog in latest_blog_articles %}
      <li><a href="{{ blog.url }}">{{ blog.title }}</a> <span class="smalldate">{{ blog.published|date:"d. M Y" }}</span></li>
    {% endfor %}
    </ol>
    {% else %}
    No blog articles.
    {% endif %}
    <div class="additional"> <a href="/blogs">More blog articles »</a></div>
  </section>

</div>

{% endblock content %}
