{% extends "master.html" %}

{% load markup %}

<!-- Use a wide bounding block for the front page -->
{% block wide %}wide{% endblock wide %}

{% block content %}

<h1 class="dikutal-title">Dikutal</h1>

<div style="float:left; width: 580px;">
    {% if feed_items %}
    <section id="frontpage-feed">
        <div>
            {% for item in feed_items %}
            <article>
            <h2>
                <span class="mpics">
                {% if item.type == "article" %}a{% elif item.type == "blogpost" %}b{% else %}?{% endif %}
                </span>
                <a href='{{ item.content.url }}'>{{ item.content.title }}</a>
            </h2>
            <div class="feed-teaser">
                {% if item.content_format == 'HT' %}
                {{ item.content.teaser|safe }}
                {% elif item.content_format == 'MD' %}
                {{ item.content.teaser|markdown }}
                {% elif item.content_format == 'TX' %}
                {{ item.content.teaser }}
                {% endif %}
            </div>
            <span class="smalldate">{{ item.content.author }} &ndash; {{ item.content.published }}</span>
            </article>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>

<div id="sidebar">
  
  <section  id="qabox" class="box">
    <h3><span class="mpics">?</span> Latest Questions</h3>
    <ol>
    {% for q in qa_items %}
    <li><a href="{{ q.links.0.href }}">{{ q.title }}</a><span class="smalldate"> {{ q.date }}</span></li>
    {% endfor %}
    </ol>
    <div class="additional"> <a href="http://qa.dikutal.dk/">More questions »</a></div>
  </section>


    {% if latest_jobs %}
    <section id="jobbox" class="box">
      <h3><span class="mpics">$</span> Latest Jobs</h3>
        <ol>
        {% for job in latest_jobs %}
            <li><a href="/jobs/{{ job.id }}/">{{ job.title }}</a> <span class="smalldate">{{ job.published|date:"d. M Y" }}</span></li>
        {% endfor %}
        </ol>
        <div class="additional"> <a href="/jobs">More jobs »</a></div>
    </section>
    {% endif %}
</div>
{% endblock content %}
