{% load adminmedia %}{% load staticfiles %}<!doctype html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <link rel="alternate" type="application/rss+xml" title="Current articles" href="/news/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Current jobs" href="/jobs/feed/" />
  <link rel="stylesheet/less" type="text/css" href="{% static "modernpics.less"%}">
  <link rel="stylesheet/less" type="text/css" href="{% static "header.less"%}">
  <link rel="stylesheet/less" type="text/css" href="{% static "main.less"%}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="{% static "less-1.3.0.min.js" %}" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
  <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
  <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
  <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
  <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
  <script type="text/javascript" src="/static/admin/js/collapse.js"></script>

  <title>Dikutal - </title>
  {% block head_extra %}{% endblock head_extra %}
</head>
<body>
  <div id="dikutal-header">
    <a href="{% url frontpage %}"><img src="{% static "logo2012.png" %}" alt="" id="small-logo" /></a>
    <ol>
      <li><a href="/news" class="selected">Articles</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/planet">Blogs</a></li>
      <li><a href="http://qa.dikutal.dk/">Q&A</a></li>
      {% if user.is_staff %}<li><a href="/admin">Admin</a></li>{% endif %}
      {% if user.is_authenticated %}
        <li class="menu-right"><a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>
      {% else %}
        <li class="menu-right"><a href="{% url django.contrib.auth.views.login %}">Log in</a></li>
      {% endif %}

    </ol>
  </div>

  <!-- We wan't certain pages to be able to change this to "wide" -->
<div id="bounding-{% block wide %}normal{% endblock wide %}">

{% block content %}{% endblock content %}

</div>

<div id="footer"></div>

</body>
</html>
