{% extends "master.html" %}

{% load markup %}
{% load widget_tweaks %}
{% block head_extra %}
<link rel="stylesheet" type="text/css"
      href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script type="text/javascript"
        src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.date input').datepicker( { "dateFormat": "yy-mm-dd" } );
    });
</script>
{% endblock head_extra %}
{% block content %}

<form method="post" enctype="multipart/form-data" action=".">
  <p><strong>Make sure the company exists </strong><a target="_blank" href='/jobs/create-company/'>Create company</a>.</p>
  <legend>Create job</legend>
    {% csrf_token %}
    <div class="accordion">
      <h3>Job description</h3>
      <div>
        {% include "snippets/forms_snippet.html" with field=form.title %}
        {% include "snippets/forms_snippet.html" with field=form.content %}
        {% include "snippets/forms_snippet.html" with field=form.salary label_extra='(optional)' %}
        {% include "snippets/forms_snippet.html" with field=form.deadline label_extra='(optional)' format_as_date='1' %}
      </div>
      <h3>Company info</h3>
      <div>
        {% include "snippets/forms_snippet.html" with field=form.company %}
        <span class="help-inline">Is your company not listed? <a href="/jobs/create-company">Create it</a> and set this later.</span>
      </div>
    </div>

    
    <div class="form-actions">
      <input type="submit" value="Add job" />

    </div>
</form>
{% endblock content %}
