{% extends "master.html" %}

{% load markup %}

{% block content %}
<h1>{{ job.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="body">
{{ job.content|markdown }}
</div>
<div class="job-info">
<h3>The job</h3>
<ul>
    <li>{{ job.address }}</li>
    <li>{{ job.hours }}</li>
    <li><b>Apply by: </b>{{ job.deadline }}</li>
    <li><b>Salary: </b>{{ job.salary }}</li>
</ul>
</div>
{% include "jobs/company_snippet.html" with company=job.company %}
{% endblock content %}
